body {
  height: 100vh;
}
nav {
  max-height: 200px;
  height: 15%;
  min-height: 150px;
  background-color: gainsboro;
}
nav .wrapper {
  display: flex;
  justify-content: space-between;
  width: 60%;
  min-width: 300px;
  margin: 0 auto;
}
nav .wrapper .logo {
  margin-top: 60px;
  font-size: 40px;
  cursor: pointer;
}
nav .wrapper .logo .simple {
  display: inline-block;
  transform: rotate(-5deg);
}
nav .wrapper .menus {
  margin-top: 96px;
  display: flex;
  width: 400px;
  justify-content: space-between;
  font-size: 18px;
}
nav .wrapper .menus li {
  cursor: pointer;
}
main {
}
