body {
  height: 100vh;
}
nav {
  position: relative;
  height: 150px;
  background-color: gainsboro;
  box-shadow: 0px 0px 10px rgba(194, 192, 192, 0.466);
}
nav .wrapper {
  display: flex;
  justify-content: space-between;
  width: 60%;
  min-width: 300px;
  margin: 0 auto;
}
nav .wrapper .logo {
  margin-top: 60px;
  margin-left: 40px;
  font-size: 40px;
  cursor: pointer;
}
nav .wrapper .logo .simple {
  display: inline-block;
  transform: rotate(-5deg);
}
nav .wrapper .menus {
  margin-top: 96px;
  margin-right: 36px;
  display: flex;
  width: 240px;
  justify-content: space-between;
  font-size: 18px;
}
nav .wrapper .menus li {
  cursor: pointer;
}
main {
  width: 60%;
  min-width: 300px;
  margin: 0 auto;
  height: 100%;
  background-color: rgb(255, 255, 255);
  box-shadow: 0px 0px 7px rgba(131, 131, 131, 0.637);
  padding-top: 80px;
}
main .poster-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}
main .poster-list li {
  width: 85%;
  min-width: 200px;
  cursor: pointer;
  box-shadow: 2px 1px 4px rgba(182, 181, 181, 0.637);
  padding: 10px;
}
