body {
  height: 100vh;
  background-color: rgb(251, 251, 251);
}
a {
  display: block;
  color: rgb(30, 30, 30);
  text-decoration: none;
}
nav {
  position: relative;
  height: 150px;
  background-color: gainsboro;
  box-shadow: 0px 0px 10px rgba(194, 192, 192, 0.466);
}
nav .wrapper {
  display: flex;
  justify-content: space-between;
  width: 60%;
  min-width: 300px;
  margin: 0 auto;
  height: 100%;
}
nav .wrapper .logo {
  margin-top: 60px;
  margin-left: 40px;
  font-size: 40px;
  cursor: pointer;
}
nav .wrapper .logo:hover .simple {
  transition: 0.35s;
  transform: rotate(0.1deg);
}
nav .wrapper .logo .simple {
  transition: 0.35s;
  display: inline-block;
  transform: rotate(-5deg);
}
nav .wrapper .menus {
  margin: 108px 20px 12px;
  display: flex;
  width: 280px;
  justify-content: space-between;
  font-size: 18px;
}
nav .wrapper .menus li {
  padding: 6px;
  cursor: pointer;
  border-bottom: 1px solid rgba(87, 87, 87, 0);
  transition: 0.5s;
}
nav .wrapper .menus li:hover {
  border-bottom: 1px solid rgba(87, 87, 87, 1);
  transition: 0.5s;
}
@media (width <= 940px) {
  nav .wrapper {
    flex-direction: column;
  }
  nav .wrapper .logo {
    margin-top: 40px;
    margin-left: 20px;
    align-self: flex-start;
  }
  nav .wrapper .menus {
    margin: 10px 10px 10px 0;
    align-self: flex-end;
    width: 220px;
  }
  nav .wrapper .menus li {
    padding: 3px;
  }
}
main {
  width: 60%;
  min-width: 300px;
  margin: 0 auto;
  height: 100%;
  background-color: rgb(255, 255, 255);
  box-shadow: 0px 0px 12px rgba(131, 131, 131, 0.322);
  padding-top: 80px;
}
main .poster-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}
main .poster-list li {
  width: 85%;
  min-width: 200px;
  cursor: pointer;
  box-shadow: 2px 1px 5px rgba(182, 181, 181, 0.637);
  padding: 10px;
  transition: 0.35s;
}
main .poster-list li:hover {
  background-color: rgb(250, 250, 250);
}
