@import "poster.css";

main {
  width: 60%;
  min-width: 300px;
  margin: 0 auto;
  min-height: 900px;
  height: 100%;
  background-color: rgb(255, 255, 255);
  box-shadow: 0px 0px 12px rgba(131, 131, 131, 0.322);
  padding: 80px 0 50px 0;
}
main .content-title {
  margin: 0 auto 40px auto;
  width: 90%;
  border-bottom: solid 3px rgb(240, 240, 240);
  position: relative;
}
main .content-title h1 {
  position: absolute;
  bottom: -8px;
  left: 30px;
  font-size: 18px;
  background-color: rgb(255, 255, 255);
  padding: 0 12px;
  color: rgb(196, 196, 196);
  cursor: none;
  user-select: none;
}

main .poster-list {
  margin: 0 auto;
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
}
main .poster-list li {
  width: 95%;
  border-radius: 10px;
  padding: 0 20px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  box-shadow: 2px 1px 5px rgba(180, 180, 180, 0.637);
  transition: 0.35s;
}
main .poster-list li:hover {
  background-color: rgb(252, 252, 252);
  box-shadow: 2px 1px 5px rgba(160, 160, 160, 1);
}
main .poster-list li a {
  flex: 3;
  display: block;
  width: 80%;
  cursor: pointer;
  padding: 10px;
  transition: 0.35s;
  font-size: x-large;
  color: rgb(160, 160, 160);
  transition: 0.35s;
  line-height: 1.4;
  word-break: break-all;
}
main .poster-list li a:hover {
  color: rgb(45, 45, 45);
}
main .poster-list li .icon-wrapper {
  padding: 2px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4px;
}
main .poster-list li .icon-wrapper a,
main .poster-list li .icon-wrapper .del {
  max-height: 24px;
  width: 24px;
  height: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
  font-size: 22px;
  color: white;
  transition: 0.35s;
  margin-right: 5px;
}
main .poster-list li:hover .icon-wrapper a,
main .poster-list li:hover .icon-wrapper .del {
  color: rgb(180, 180, 180);
}
main .poster-list li:hover .icon-wrapper a:hover,
main .poster-list li:hover .icon-wrapper .del:hover {
  color: rgb(15, 15, 15);
}
main .poster-list li:hover .icon-wrapper i {
  min-width: 22px;
  min-height: 22px;
}

main .delete-box {
  position: fixed;
  width: 320px;
  height: fit-content;
  background-color: rgb(240, 240, 240);
  border-radius: 20px;
  box-shadow: 0px 6px 12px rgb(180, 180, 180);
  margin: 0 auto;
  left: 0;
  right: 0;
  display: none;
}
main .delete-box .delete-inside {
  padding: 10px 30px;
  height: 100%;
  gap: 18px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
main .delete-box .delete-inside span:first-child {
  display: block;
  font-size: 16px;
}
main .delete-box .delete-inside span:nth-child(2) {
  font-size: 24px;
}
@media (width <= 940px) {
  main .content-title h1 {
    font-size: 16px;
    left: 20px;
    padding: 0 6px;
  }
  main .poster-list li {
    padding: 0 5px;
  }
  main .poster-list li .icon-wrapper {
    flex-direction: column;
    margin: 8px 4px 8px 0;
    gap: 6px;
  }
  main .poster-list li .icon-wrapper a,
  main .poster-list li .icon-wrapper .del {
    margin: 0;
    padding: 0 10px;
  }
}
