.submit-form {
  width: 60%;
  min-width: 300px;
  margin: 10px auto 0 auto;
  box-shadow: 0px 0px 12px rgba(131, 131, 131, 0.322);
}
.submit-table {
  text-align: center;
  border: 1px solid #dddddd;
}
.submit-head {
  background-color: rgb(187, 187, 187);
  text-align: center;
}
.btn {
  display: flex;
  justify-content: center;
}
.submit-btn {
  /* align-self: center; */
  margin-left: 10px;
  margin-bottom: 10px;
  padding: 10px 30px 10px 30px;
}

.post-box {
  width: 60%;
  margin: 10px auto 0 auto;
  box-shadow: 0px 0px 12px rgba(131, 131, 131, 0.322);
}
.post-title {
  height: 50px;
  display: flex;
  align-items: center;
}
.post-title > p {
  font-size: larger;
}
.post-name {
  height: 30px;
  border-bottom: 1px solid rgb(192, 192, 192);
  display: flex;
  flex-direction: row;
  align-items: center;
}
.post-name > * {
  font-size: small;
  margin-right: 10px;
}
.post-name > span {
  padding-left: 10px;
  border-left: 1px solid rgb(192, 192, 192);
}
.post-body {
  min-height: 300px;
  border-bottom: 1px solid rgb(192, 192, 192);
}

.backtolist {
  width: 150px;
  height: 40px;
  margin: 10px auto 10px auto;
  display: flex;
  align-items: center;
}

.backtolist > p {
  margin-left: 5px;
}

.is-hidden {
  display: none;
}

.help {
  color: red;
  margin-right: 300px;
  font-weight: bold;
}
.row {
  width: 100%;
  /* 불필요한 스크롤바가 생겨 추가했습니다 */
}
