.submit-form {
    width: 60%;
    min-width: 300px;
    margin: 10px auto 0 auto;
}
.submit-table {
    text-align: center;
    border: 1px solid #dddddd;
}
.submit-head {
    background-color: rgb(187, 187, 187);
    text-align: center;
}

.post-box {
  width: 60%;
  margin: 10px auto 0 auto;
}
.post-name {
  height: 30;
  border-bottom: 1px solid gray;
}
.post-body {
  height: 500;
}

.backtolist {
  width: 200px;
  height: 50px;
  margin: 10px auto 0 auto;
}

.is-hidden {
  display: none;
}

.help {
  color: red;
  margin-right: 300px;
  font-weight: bold;
}
