::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background-color: rgb(245, 245, 230);
}
::-webkit-scrollbar-thumb {
  border-radius: 4px;
  box-shadow: inset 0 0 6px rgba(10, 10, 0, 0.4);
}
*:focus {
  outline: 1px solid rgb(60, 60, 60);
}
html {
  overflow: -moz-scrollbars-vertical;
  overflow-y: scroll;
}
body {
  height: fit-content;
  min-height: 100vh;
  padding-bottom: 50px;
  background-color: rgb(251, 251, 251);
}
a {
  display: block;
  color: rgb(30, 30, 30);
  text-decoration: none;
}
a:hover {
  color: rgb(30, 30, 30);
}
i {
  cursor: pointer;
}
nav {
  position: relative;
  height: 150px;
  background-color: gainsboro;
  box-shadow: 0px 0px 10px rgba(194, 192, 192, 0.466);
}
nav .nav_wrapper {
  display: flex;
  justify-content: space-between;
  width: 60%;
  min-width: 300px;
  margin: 0 auto;
  height: 100%;
}
nav .nav_wrapper .logo {
  margin-top: 60px;
  margin-left: 40px;
  font-size: 40px;
  cursor: pointer;
}
nav .nav_wrapper .logo .simple {
  transition: 0.35s;
  display: inline-block;
  transform: rotate(-5deg);
}
nav .nav_wrapper .logo:hover .simple {
  transition: 0.35s;
  transform: rotate(0.1deg);
}
nav .nav_wrapper .menus {
  margin: 108px 20px 12px;
  display: flex;
  width: 280px;
  justify-content: space-between;
  font-size: 18px;
}
nav .nav_wrapper .menus li {
  padding: 6px;
  cursor: pointer;
  border-bottom: 2px solid rgba(87, 87, 87, 0);
  transition: 0.5s;
}
nav .nav_wrapper .menus li:hover {
  border-bottom-color: rgba(87, 87, 87, 0.99);
  transition: 0.5s;
}
nav .nav_wrapper .menus li a {
  font-weight: 600;
}
nav .temperal {
  top: 0%;
  position: fixed;
  display: flex;
  /* display: none; */
  justify-content: center;
  font-size: x-large;
}
@media (width <= 940px) {
  nav .nav_wrapper {
    flex-direction: column;
  }
  nav .nav_wrapper .logo {
    margin-top: 40px;
    margin-left: 20px;
    align-self: flex-start;
  }
  nav .nav_wrapper .menus {
    margin: 10px 10px 10px 0;
    align-self: flex-end;
    width: 220px;
  }
  nav .nav_wrapper .menus li {
    padding: 3px;
  }
}
