<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- jquery -->
    <title>{% block title %} {% endblock %} | simple poster</title>
    <!-- jquery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <!-- https://icons.getbootstrap.com/ 에서 필요한 아이콘 확인하고 사용하세요 <i class="xx xxxx"></i>-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/base/reset.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/base/index.css') }}" />
    {% block css %} {% endblock %}
  </head>
  <body>
    <nav>
      <div class="wrapper">
        <div class="logo" id="logo">I'm s<span class="simple">i</span>mple</div>
        <ul class="menus">
          <li><a href="/poster">글작성</a></li>
          <li><a href="/signup">회원가입</a></li>
          <li><a href="/login">로그인</a></li>
        </ul>
      </div>
    </nav>
    <main>{% block content %} {% endblock %}</main>
    {% block script %} {% endblock %}
  </body>
</html>
