{% extends "base.html"%}
<!--  -->
{% block title %}New Poster{%endblock%}<!--  -->

{% block content %}
<hr/>
<div class="main-wrapper">
    <form action="" accept-charset="utf-8" name="post-submit" method="post">
        <fieldset style="margin: 10 auto 0 auto;width: 80%;display: flex; flex-direction: column; align-items: center;">
            <br>
            <input type="text" id="title" name="submit-title" placeholder="제목을 입력해주세요." style="width: 80%;"/><br><br>
            <textarea type="comment" id="content" placeholder="내용을 입력해주세요." style="width: 80%;height: 500px"></textarea><br><br>
            <input type="submit" id="posterForm" value="제출하기" style="margin-left: 200;width:200;height:50;"/>
        </fieldset>
    </form>
</div>
{% endblock %}