{% extends "base.html"%}
<!--  -->
{% block title %}New Poster{%endblock%}<!--  -->

{% block css %}
<link rel="stylesheet" type="text/css" href="../static/css/poster.css" />
{% endblock %} {% block script %}
<script type="text/javascript" src="../static/js/poster.js"></script>
{% endblock %} {% block content %}
<div class="wrapper">
  <div class="row">
    <div class="submit-form">
      <table class="submit-table table table-striped">
        <thead>
          <tr class="submit-head">
            <th colspan="2">글 작성하기</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>
              <input type="text" class="form-control" id="title" placeholder="글 제목" name="title" maxlength="50" />
            </td>
          </tr>
          <tr>
            <td>
              <textarea
                class="form-control"
                id="content"
                placeholder="글 내용"
                name="content"
                maxlength="2048"
                style="height: 350px"
              ></textarea>
            </td>
          </tr>
        </tbody>
      </table>
      <div class="btns">
        <button class="submit-btn btn btn-secondary" id="submit" onclick="back()">돌아가기</button>
        <button class="submit-btn btn btn-primary" id="submit" onclick="postSubmit()">제출하기</button>
      </div>
    </div>
  </div>
</div>
{% endblock %}