{% extends "base.html"%}
<!--  -->
{% block title %}Poster{%endblock%}<!--  -->

{% block css %}
<link rel="stylesheet" type="text/css" href="../static/css/poster.css" />
<!-- 부트스트랩 옮겼습니다! -->
{% endblock %} {% block script %}
<script type="text/javascript" src="../static/js/poster.js"></script>
{% endblock %} {% block content %}

<hr />
<div class="wrapper">
  <div class="post-box card border-light mb-3">
    <div class="post-title card-header">Header</div>
    <div class="post-name card-body" style="padding: 3 0 0 20">작성자</div>
    <div class="post-body card-body">
      <h5 class="card-title">Light card title</h5>
      <p class="card-text">
        Some quick example text to build on the card title and make up the bulk of the card's content.
      </p>
    </div>
    <button type="button" id="back" class="backtolist btn btn-secondary">목록으로</button>
  </div>
</div>
{% endblock %}
